@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
:root {
    --background-pos: no-repeat center center/cover;
    --background-linear-gradient: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), ;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    /* overflow-x: hidden; */
}

h1 {
    text-transform: capitalize;
}

.home {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(16, 81, 158, 1) 35%, rgba(0, 212, 255, 1) 82%);
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    /* width: 100%; */
    height: 100%;
    transition: all .5s ease;
    background-color: black;
}

.sidebar header {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: black;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 15px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    /* border-bottom: 1px solid black; */
    /* border-top: 1px solid rgba(255, 255, 255, .1); */
    transition: .4s;
}

.sidebar ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

.sidebar ul a img {
    width: 150px;
    height: 65px;
    padding-top: 50%;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    border-radius: 3px;
    cursor: pointer;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
    position: fixed;
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: white;
    padding: 4px 9px;
    transition: all .5s ease;
    position: fixed;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    /* left: 250px; */
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 195px;
}

#check:checked~section {
    margin-left: 250px;
    /* width: 230vh; */
}

.social-icons {
    text-transform: none;
    text-decoration: none;
    margin-top: 15%;
    position: relative;
    font-size: 20px;
}

.social-icons a {
    color: rgba(0, 0, 0, 0.301);
    margin-right: 5%;
    transition: 0.5s;
}

.social-icons a:hover {
    color: rgba(0, 0, 0, 0.664);
}

section {
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* width: 400vh; */
    transition: all .5s;
}

.card {
    background-color: white;
    height: 50%;
    width: 50%;
    margin: 10%;
    margin-left: 25%;
    position: absolute;
    display: flex;
    box-shadow: 10px 10px 36px -17px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
}

.card:hover {
    box-shadow: 10px 10px 81px -17px rgba(0, 0, 0, 0.75);
}

.card-image {
    /* border: 1px solid red; */
    background-image: url('https://thumbs.dreamstime.com/b/business-man-profile-icon-male-avatar-hipster-style-fashion-cartoon-guy-beard-portrait-casual-businessman-person-face-flat-design-69046219.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
}

.card-desc {
    margin: 25%;
    padding-left: 100%;
    padding-right: 0;
    width: 50%;
}

.about-me-container {
    display: flex;
    line-height: 30px;
}

.python-progress-bar {
    width: 50%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 15px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.python-progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #659cef;
    border-radius: 10px;
    transition: width 500ms ease-in-out;
}

.pygame-zero-progress-bar {
    width: 50%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 15px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.pygame-zero-progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #659cef;
    border-radius: 10px;
    transition: width 500ms ease-in-out;
}

.web-dev-progress-bar {
    width: 50%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 15px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.web-dev-progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #659cef;
    border-radius: 10px;
    transition: width 500ms ease-in-out;
}

.flask-progress-bar {
    width: 50%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 15px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.flask-progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #659cef;
    border-radius: 10px;
    transition: width 500ms ease-in-out;
}

.database-progress-bar {
    width: 50%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 15px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.database-progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #659cef;
    border-radius: 10px;
    transition: width 500ms ease-in-out;
}

.about-me-desc {
    width: 50%;
    float: left;
    margin: 5%;
}

.about-me-desc h1 {
    margin-bottom: 5%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.about-me-skills {
    width: 50%;
    margin: 5%;
}

.about-me {
    margin: 5%;
    margin-bottom: -10%;
}

.projects {
    margin-bottom: 2.5%;
    height: 100%;
}

.projects h1 {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    /* text-align: center; */
    margin-left: 10%;
}

.projects .container {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.projects .container a {
    text-decoration: none;
    color: black;
}

.projects .container .box h1 {
    /* margin: 25%; */
    text-align: center;
    margin-top: 25%;
    margin-left: -3%;
    /* top: 50%; */
    /* left: 50%; */
    /* position: absolute; */
    color: white;
    /* letter-spacing: 5px; */
    /* transform: translateX(-50%) translateY(-50%); */
    font-family: 'Julius Sans One', sans-serif;
    transition: 0.5s;
}

.projects .container .box {
    width: 45%;
    height: 300px;
    background: yellow;
    margin: 20px;
    box-sizing: border-box;
    /* font-size: 40px; */
}

.projects .container .box h1:hover {
    letter-spacing: 5px;
}

.projects .container .box:nth-child(1) {
    background: var(--background-linear-gradient) url("https://insights.dice.com/wp-content/uploads/2019/07/Python-R-Groovy-Perl-TIOBE-Dice-1.png") var(--background-pos);
}

.projects .container .box:nth-child(2) {
    background: var(--background-linear-gradient) url("https://www3.minijuegosgratis.com/v3/games/thumbnails/20161_1.jpg") var(--background-pos);
}

.projects .container .box:nth-child(3) {
    background: var(--background-linear-gradient) url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80") var(--background-pos);
}

.projects .container .box:nth-child(4) {
    background: var(--background-linear-gradient) url("https://webfire.co.uk/assets/images/slides/webfire-preoday.jpg") var(--background-pos);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin: 5%;
}

.projects-card {
    width: 45%;
    height: 300px;
    background-color: yellow;
    box-sizing: border-box;
    /* font-size: 60px; */
    font-family: 'Anton', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    box-shadow: 10px 10px 36px -17px rgba(0, 0, 0, 0.75);
    transition: 4s;
    margin: 2%;
}

footer {
    height: 100vh;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-flow: wrap;
    /* margin: 5%; */
    color: white;
    text-align: left;
}

.footer-content {
    margin: 5%;
}

.footer-content li {
    margin-top: 5%;
}

.footer-content li img {
    width: 350px;
    height: 150px;
}

.footer-content li a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.footer-content li span {
    font-size: 30px;
    margin-right: 5%;
}

.footer-content li a:hover {
    color: rgb(105, 105, 105);
    text-decoration: underline;
}

nav {
    display: block;
    padding: 10px;
    margin: 0;
    padding: 0%;
}

nav ul {
    list-style-type: none;
}

nav ul li a img {
    width: 200px;
    float: left;
}

.back_home {
    float: right;
    padding: 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 2px;
    color: rgb(36, 36, 36);
}

.back_home:hover {
    letter-spacing: 3px;
}

a .fa {
    padding-right: 25px;
}

.flask-projects {
    height: 100%;
    background: linear-gradient(126deg, rgba(255, 255, 255, 1) 0%, rgb(247, 247, 247) 100%);
    /* width: 100%; */
}

.flask-projects .container {
    width: 100%;
    height: auto;
    /* background: #007bbf; */
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.flask-projects .box {
    width: 20%;
    height: 300px;
    background-color: yellow;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    letter-spacing: 1px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

.popup .close {
    position: absolute;
    top: 17.5px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #0522a1;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    text-align: center;
}

.popup .content select {
    margin: 3%;
    width: 92.5%;
    border-radius: 2%;
    padding: 10px 15px;
}

.popup .content input[type="submit"] {
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 5%;
}

.popup .content input::placeholder {
    text-transform: capitalize;
    letter-spacing: 2px;
}

.overlay {
    overflow-y: auto;
    height: 100%;
}

.popup input {
    padding: 10px 15px;
}

#popup2 .popup .content {
    text-align: center;
}

#popup2 .popup .content input[type="number"] {
    margin: 2.5%;
    padding: 10px 15px;
}

#popup3 .popup .content input[type="number"] {
    margin: 2.5%;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#popup4 .popup span {
    text-decoration: underline;
    font-weight: bolder;
    /* text-transform: capitalize; */
}

#popup4 .popup h3 {
    text-transform: capitalize;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
}

#popup5 .popup td {
    padding: 5px 10px;
}

#popup7 .popup .content {
    margin-top: 3%;
}

#popup7 .popup .content img {
    margin-top: 3%;
    border-radius: 100%;
}

#popup8 .popup h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin-top: 5%;
}

#popup8 .popup strong {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}

#popup8 .popup p {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.ratio-box {
    margin-top: 5%;
    /* margin-left: 15%; */
}

strong span {
    color: red;
}

.flask-projects .box:nth-child(1) {
    background: url(https://static1.squarespace.com/static/5c83dafbd7819e5f5559e500/5edf4e5b88a70e79f15f43e9/5ee48ae72fe2c41cdedfbcd8/1592723434179/Blog+Thumbnails+%285%29.png?format=500w) no-repeat center center/cover;
}

.flask-projects .box:nth-child(2) {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://static1.squarespace.com/static/5c83dafbd7819e5f5559e500/5edf4e5b88a70e79f15f43e9/5ed7e6782c7a68200474297a/1592723450786/aspect_ratio.png?format=500w) no-repeat center center/cover;
}

.flask-projects .box:nth-child(3) {
    background: url(https://static1.squarespace.com/static/5c83dafbd7819e5f5559e500/5edf4e5b88a70e79f15f43e9/5ed7e6505d3bdd06806159c7/1592723468627/convert_to_seconds.png?format=500w) no-repeat center center/cover;
}

.flask-projects .box:nth-child(4) {
    background: url(https://static1.squarespace.com/static/5c83dafbd7819e5f5559e500/5edf4e5b88a70e79f15f43e9/5ed7e5cd5b35216c3f6665f6/1592723484785/birthday_countdown.png?format=500w) no-repeat center center/cover;
}

.flask-projects .box:nth-child(5) {
    background: linear-gradient( rgba(0, 0, 0, 0.164), rgba(0, 0, 0, 0.164)), url(https://static1.squarespace.com/static/5c83dafbd7819e5f5559e500/5edf4e5b88a70e79f15f43e9/5ed7e59e060f084fb66c229f/1592723504665/count_the_vowels.png?format=500w) no-repeat center center/cover;
}

.flask-projects .box:nth-child(6) {
    background: linear-gradient( rgba(0, 0, 0, 0.164), rgba(0, 0, 0, 0.164)), url(https://static1.squarespace.com/static/5c83dafbd7819e5f5559e500/5edf4e5b88a70e79f15f43e9/5ed6a8383065d667d1ee6c81/1592723520395/Blog+Thumbnails+%288%29.png?format=500w) no-repeat center center/cover;
}

.flask-projects .box:nth-child(7) {
    background: url(https://static1.squarespace.com/static/5c83dafbd7819e5f5559e500/5edf4e5b88a70e79f15f43e9/5ed64c1ab61798137c9b34d8/1592723534672/Blog+Thumbnails+%287%29.png?format=500w) no-repeat center center/cover;
}

.flask-projects .box:nth-child(8) {
    background: url(https://static1.squarespace.com/static/5c83dafbd7819e5f5559e500/5edf4e5b88a70e79f15f43e9/5ec3e7a01a764f0c6a3b1624/1592723549375/Blog+Thumbnails+%284%29.png?format=500w) no-repeat center center/cover;
}

.flask-projects .box h1 {
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.mt-text {
    font-size: 45px !important;
}

@keyframes text-letter-spacing {
    0% {
        letter-spacing: 0px;
    }
    50% {
        letter-spacing: 6px;
    }
    100% {
        letter-spacing: 1px;
    }
}